<%= content_for(:header, 'Futsal Prešov')%>
<%= content_for :action do %>
  <%= button_to games_path do %>
    <div class='px-3 py-1.5 bg-indigo-600 font-medium rounded-xl'>
      Nová hra
    </div>
  <% end %>
<% end %>

<div class='mt-4 space-y-4'>
  <%= render partial: 'games/game', collection: @games %>
</div>

<%= link_to 'Štatistiky', statistics_path, class: 'text-center fixed bottom-12 left-4 right-4 shadow-md px-5 py-4 rounded-xl bg-indigo-600 shadow-indigo-600/30' %>  
