<% content_for :back do %>
  <%= link_to root_path, class: 'text-sky-500' do %>
    &lt; Domov
  <% end %>
<% end %>
<%= content_for(:header, "Tvorba tímov")%>
  <%= content_for :action do %>
    <%= link_to new_team_path(game_id: @game.id) do %>
      <div class='px-3 py-1.5 bg-indigo-600 font-medium rounded-xl'>
        Pridať
      </div>
    <% end %>
  <% end %>
<div class='<%= dom_id @game %>'>
  <% if @game.teams.none? %>
    <%= link_to new_team_path(game_id: @game.id) do %>
      <div class='p-4 text-zinc-500 border border-dashed border-zinc-600 rounded-xl text-center'>
        Zatiaľ tu nie je žiadny tím. 
        <br />
        Klikni na tlačidlo <span class='font-bold text-indigo-400'>Pridať</span>,
        <br />
        aby si pridal prvý.
      </div>
    <% end %>
  <% else %>
    <div class='space-y-4'>
      <% @game.teams.each do |team| %>
        <%= link_to edit_team_path(team), class: 'block' do %>
          <%= render 'teams/team', team: %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class='fixed bottom-12 left-4 right-4 space-y-4'>
    <%= button_to game_path(@game), 
                  method: :delete, 
                  class: 'w-full',
                  form_class: 'group',
                  data: { turbo_confirm: 'Si si istý?' } do %>
      <div class='group-aria-busy:hidden bg-rose-500 shadow-rose-600/30 text-center shadow-md px-5 py-4 rounded-xl'>
        Vymazať hru
      </div>
      <div class='hidden group-aria-busy:block bg-rose-400 shadow-rose-600/30 text-center shadow-md px-5 py-4 rounded-xl'>
        <%= icon 'fa-solid', 'spinner', class: 'animate-spin' %>
      </div>
    <% end %>
    <% if @game.teams.count < 2 %>
      <div class='text-center shadow-md px-5 py-4 rounded-xl text-zinc-600 bg-zinc-800 shadow-zinc-800/30'>
        Začať hru
      </div>
    <% else %>
      <%= link_to new_match_path(game_id: @game.id), class: 'block text-center shadow-md px-5 py-4 rounded-xl bg-indigo-600 shadow-indigo-600/30' do %>
        <div class=''>
          Začať hru
        </div>
      <% end %>
    <% end %>
  </div>
</div>
