<% content_for :back do %>
  <%= link_to root_path, class: 'text-sky-500' do %>
    &lt; Domov
  <% end %>
<% end %>
<%= content_for(:header, @game.created_at.strftime('%d. %m.'))%>
<%# <% if is_game_creator?(@game) %>
<%= content_for :action do %>
  <%= button_to finish_game_path(game_id: @game.id) do %>
    <div class='px-3 py-1.5 bg-rose-500 font-medium rounded-xl'>
      Ukončiť
    </div>
  <% end %>
<% end %>
<%# <% end %>

<%= turbo_stream_from(:matches) %>
<%= turbo_stream_from(:appearances) %>
<div data-controller="tab">
  <div class="m-1 p-1 bg-zinc-950 rounded-xl flex shadow-inner relative">
    <div class="absolute top-1 bottom-1 rounded-lg bg-zinc-700 shadow transition-all duration-300 ease-in-out"
        data-tab-target="indicator"></div>

    <%= link_to 'Zápasy', '#',
          class: 'w-full px-4 py-2 rounded-lg text-center relative z-10 transition-all duration-300',
          data: { action: "click->tab#switch", tab_target: "tab" } %>

    <%= link_to 'Strelci', '#',
          class: 'w-full px-4 py-2 rounded-lg text-center relative z-10 transition-all duration-300',
          data: { action: "click->tab#switch", tab_target: "tab" } %>

  </div>

  <div class='overflow-x-hidden overflow-y-visible no-scrollbar relative h-[80vh] mt-6'>
    <div class='transition duration-300 px-1' data-tab-target='tabone'>
      <% @matches.in_groups_of(3, false) do |batch| %>
        <div class='space-y-4'>
          <% batch.each do |match| %>
            <%= render 'matches/match', match: %>
          <% end %>
        </div>
        <div class='h-px bg-zinc-700 my-6'></div>
      <% end %>

      <div class='mt-6'>
        <% if @matches.count == 1 %>
          <%= link_to 'Pridať', new_match_path(game_id: @game.id), class: 'bg-indigo-500 w-full px-4 py-3 flex justify-center items-center rounded-xl' %>
        <% else %>
          <%= button_to 'Pridať', matches_path(game_id: @game.id), class: 'bg-indigo-500 w-full px-4 py-3 flex justify-center items-center rounded-xl' %>
        <% end %>
      </div>
    </div>
    <div class='px-1 absolute left-0 top-0 right-0 transition no-scrollbar duration-300 translate-x-[105%] pb-12' data-tab-target='tabtwo'>
      <div class='space-y-4'>
        <% @appearances.each do |appearance| %>
          <%= render 'appearances/appearance', appearance: %>
        <% end %>
      </div>
    </div>
  </div>
</div>
