<% content_for :back do %>
  <%= link_to root_path, class: 'text-sky-500' do %>
    &lt; Domov
  <% end %>
<% end %>
<%= content_for(:header, 'Hráči')%>
<%= content_for :action do %>
  <%= link_to new_player_path do %>
    <div class='px-3 py-1.5 bg-indigo-600 font-medium rounded-xl'>
      Pridať
    </div>
  <% end %>
<% end %>

<div class='mt-4 space-y-4'>
  <% @players.each do |player| %>
    <div class='p-5 bg-zinc-800 border border-zinc-700 shadow-md shadow-zinc-950/90 rounded-xl'>
      <div class="uppercase text-zinc-400 text-sm font-semibold"><%= player.name %></div>
      <div class="text-4xl mt-4">
        <div><%= human_readable_goals player.goals %></div>
      </div>
      <div class="mt-4 flex gap-8 text-lg text-zinc-300">
        <div><%= icon "fa-solid", "crown" %> <%= player.matches_won_count %></div>
        <div><%= icon "fa-solid", "handshake" %> <%= player.matches_drawn_count %></div>
        <div><%= icon "fa-solid", "skull-crossbones" %> <%= player.matches_lost_count %></div>
      </div>
      
      <%#= link_to 'Upraviť', edit_player_path(player), class: 'text-indigo-400' %>
    </div>
  <% end %>
</div>
